body {
    color: rgb(128, 10, 10);
    background: rgb(226, 135, 135);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 10px rgb(247, 239, 239);
    padding: 20px;
    font-size: 32px;
    color: rgb(185, 49, 49);
}

.chamada {
    background: rgb(224, 111, 111);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 10px;
}

h1{
    font-size: 50px;
}

p{
    font-size: 30px;
}

.categoria-videos {
    display:flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria {
    padding-left: 15px;
    padding-right: 15x;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity:1.0;
    border: 5px solid rgb(110, 6, 6);
}

.categoria h2{
    color: rgb(128, 10, 10);
}